.default-shadow {
  border-style: solid #595c5e;
  border-radius: 1px;
  box-shadow: 0 0 10px #595c5e;
}
body {
  background-color: #eff0f4;
  font-family: 'Krub', sans-serif;
  position: relative;
}
.external-navbar {
  background-color: black;
  height: 10em;
  width: 95%;
  margin: auto;
  z-index: -1;
}
.wrapper {
  width: 90%;
  top: 2em;
  left: 5%;
  position: absolute;
  margin: auto;
  z-index: 0;
}
.internal-navbar {
  background-image: url("../img/cars.jpg");
  background-size: cover;
  display: block;
  height: 20em;
}
.sign-up-container {
  background-color: #f4f7fc;
  height: 3em;
  line-height: 1em;
  padding: 5px;
}
.sign-up {
  color: gray;
  width: 7em;
  font-size: 1em;
  margin: 0.5em 2em 0.5em 0.5em;
  float: left;
  overflow: hidden;
}
.input-field {
  background-color: #f9fcff;
  min-width: 20em;
  line-height: 2em;
  font-size: 1em;
  padding-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: solid #e0e3e5;
  border-radius: 1px;
  box-shadow: 0 0 3px #e0e3e5;
  float: left;
}
#input-name {
  margin-right: 2em;
}
#subscribe-button {
  color: white;
  background-color: #c10909;
  min-width: 14em;
  border: none;
  box-shadow: none;
  margin-right: 0.5em;
  float: right;
}
#subscribe-button > p {
  font-size: 1em;
  text-align: center;
  margin: auto;
  padding-right: 1em;
}
.explore-container {
  height: 20em;
  padding: 1em;
  margin-top: 2em;
}
.explore {
  width: 20%;
  height: 100%;
  float: left;
  margin-left: 2em;
  margin-right: 2em;
  border-style: solid #595c5e;
  border-radius: 1px;
  box-shadow: 0 0 10px #595c5e;
  overflow: hidden;
}
.explore > img {
  height: 100%;
}
#explore-first {
  margin-left: 1em;
}
#explore-last {
  margin-right: 0.5em;
}
.location-container {
  background-color: #c10909;
  width: 100%;
  height: 8em;
  line-height: 1em;
  border-style: solid #595c5e;
  border-radius: 1px;
  box-shadow: 0 0 15px #595c5e;
  margin-top: 2em;
}
.location-heading {
  height: 6em;
  margin: 1em;
  float: left;
  text-align: center;
}
.location-heading > li {
  list-style-type: none;
  line-height: 1em;
}
#list-style--black {
  color: black;
  font-size: 2em;
}
#list-style--white {
  color: white;
  font-size: 4em;
}
#location-search {
  max-width: 22em;
  min-width: 22em;
  margin-top: 3em;
  margin-right: 2em;
  float: right;
}
.bullseye {
  max-height: 2em;
  max-width: 2em;
  margin-top: 3em;
  margin-left: 35em;
}
.input-field-arrow {
  max-height: 2em;
  max-width: 1.8em;
  margin-left: 11em;
  vertical-align: bottom;
}
.ok-button {
  background-color: #c10909;
  color: white;
  height: 1.8em;
  width: 1.8em;
  text-align: center;
  float: right;
  margin: 0.2em;
}
.blurb-container {
  line-height: 10em;
  margin-top: 2em;
}
.blurb-left {
  border-style: solid #595c5e;
  border-radius: 1px;
  box-shadow: 0 0 10px #595c5e;
  background-color: black;
  color: white;
  width: 55%;
  height: 8em;
  float: left;
}
.blurb-right {
  border-style: solid #595c5e;
  border-radius: 1px;
  box-shadow: 0 0 10px #595c5e;
  background-color: white;
  color: black;
  width: 45%;
  height: 10em;
  margin: 0;
  float: left;
}
.logo-img {
  background-image: url("../img/BBB.png");
}
.footer {
  background-color: black;
  color: white;
  width: 100%;
  clear: both;
}
